affine==2.3.0
aggdraw @ file:///Users/runner/miniforge3/conda-bld/aggdraw_1610413863351/work
appnope @ file:///Users/runner/miniforge3/conda-bld/appnope_1602242458663/work
arosics @ file:///Users/runner/miniforge3/conda-bld/arosics_1605260982339/work
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1602489063273/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1601745390275/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1600454382015/work
bokeh @ file:///Users/runner/miniforge3/conda-bld/bokeh_1606141231753/work
bqplot @ file:///home/conda/feedstock_root/build_artifacts/bqplot_1602539707282/work
branca==0.3.1
brotlipy==0.7.0
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1593420445823/work
Cartopy==0.17.0
centerline==0.6.3
certifi==2020.12.5
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1602537245790/work
chardet @ file:///Users/runner/miniforge3/conda-bld/chardet_1602255309528/work
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1603140636950/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
cmd2==1.5.0
cmocean==2.0
colorama==0.4.4
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1611108405642/work
colorspacious==1.1.2
colour==0.1.5
conda==4.8.4
conda-package-handling @ file:///Users/runner/miniforge3/conda-bld/conda-package-handling_1602876819663/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography_1600960179663/work
cycler==0.10.0
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1602029610262/work
decorator==4.4.2
defusedxml==0.6.0
descartes==1.1.0
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1604312823872/work
earthengine-api @ file:///home/conda/feedstock_root/build_artifacts/earthengine-api_1602121800179/work
earthpy @ file:///home/conda/feedstock_root/build_artifacts/earthpy_1592579821941/work
entrypoints @ file:///Users/runner/miniforge3/conda-bld/entrypoints_1602701742773/work/dist/entrypoints-0.3-py2.py3-none-any.whl
fastcache @ file:///Users/runner/miniforge3/conda-bld/fastcache_1602440441256/work
ffmpeg-python==0.2.0
Figures==0.3.10
Fiona==1.8.13
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1588861378954/work
future @ file:///Users/runner/miniforge3/conda-bld/future_1602538327724/work
GDAL==3.0.4
geeadd @ file:///home/conda/feedstock_root/build_artifacts/geeadd_1601129486734/work
geemap @ file:///home/conda/feedstock_root/build_artifacts/geemap_1602412643576/work
geetools==0.6.0
geoarray @ file:///Users/runner/miniforge3/conda-bld/geoarray_1611593962600/work
geocoder==1.38.1
geojson==2.5.0
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1594925563431/work
gmpy2==2.1.0b1
google-api-core @ file:///Users/runner/miniforge3/conda-bld/google-api-core-split_1601998551628/work
google-api-python-client @ file:///home/conda/feedstock_root/build_artifacts/google-api-python-client_1603243869094/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1601484960264/work
google-auth-httplib2 @ file:///home/conda/feedstock_root/build_artifacts/google-auth-httplib2_1601483325475/work
google-cloud-core @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-core_1602093568796/work
google-cloud-storage @ file:///home/conda/feedstock_root/build_artifacts/google-cloud-storage_1601484581504/work
google-crc32c @ file:///Users/runner/miniforge3/conda-bld/google-crc32c_1602546545416/work
google-resumable-media @ file:///home/conda/feedstock_root/build_artifacts/google-resumable-media_1602011069843/work
googleapis-common-protos @ file:///Users/runner/miniforge3/conda-bld/googleapis-common-protos-feedstock_1601484057425/work
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpcio_1596715700681/work
holoviews @ file:///home/conda/feedstock_root/build_artifacts/holoviews_1609161509779/work
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1590007784658/work
httplib2shim==0.0.3
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imagecodecs @ file:///Users/runner/miniforge3/conda-bld/imagecodecs_1602637330170/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
ipyfilechooser @ file:///home/conda/feedstock_root/build_artifacts/ipyfilechooser_1601731542155/work
ipygee==0.0.14
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1602682896422/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipyleaflet @ file:///home/conda/feedstock_root/build_artifacts/ipyleaflet_1596023448563/work
ipynb-py-convert @ file:///home/conda/feedstock_root/build_artifacts/ipynb-py-convert_1596016036544/work
ipython @ file:///Users/runner/miniforge3/conda-bld/ipython_1602640419216/work
ipython-genutils==0.2.0
ipytree==0.1.8
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1609383438461/work
jedi @ file:///Users/runner/miniforge3/conda-bld/jedi_1602395236037/work
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1601671685479/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1598486169312/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core @ file:///Users/runner/miniforge3/conda-bld/jupyter_core_1602537297490/work
jupyter-highlight-selected-word @ file:///Users/runner/miniforge3/conda-bld/jupyter_highlight_selected_word_1603234251450/work
jupyter-latex-envs @ file:///Users/runner/miniforge3/conda-bld/jupyter_latex_envs_1602788808989/work
jupyter-nbextensions-configurator @ file:///Users/runner/miniforge3/conda-bld/jupyter_nbextensions_configurator_1602769531809/work
jupyter-server==0.1.1
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterthemes==0.20.0
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1602517227315/work
lazy-object-proxy @ file:///Users/runner/miniforge3/conda-bld/lazy-object-proxy_1602435370885/work
lesscpy==0.13.0
logzero @ file:///Users/runner/miniforge3/conda-bld/logzero_1602325912552/work
lxml @ file:///Users/runner/miniforge3/conda-bld/lxml_1603104859015/work
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba_1603278508916/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1592150171428/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1603668500820/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1602267327822/work
matplotlib==3.2.1
mccabe==0.6.1
mistune @ file:///Users/runner/miniforge3/conda-bld/mistune_1602381756020/work
mpmath==1.1.0
mss @ file:///home/conda/feedstock_root/build_artifacts/python-mss_1593533581413/work
munch==2.5.0
Mypackage==0.1
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1602859080374/work
nbconvert @ file:///Users/runner/miniforge3/conda-bld/nbconvert_1602715415880/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nbimporter==0.3.3
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1601342677072/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
notebook @ file:///Users/runner/miniforge3/conda-bld/notebook_1588887231072/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1603047582194/work
oauth2client==4.1.3
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
OWSLib @ file:///home/conda/feedstock_root/build_artifacts/owslib_1611263242059/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==1.1.3
pandocfilters==1.4.2
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1610991450506/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1610122395674/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1595548966091/work
patsy==0.5.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1602708622520/work
pip-autoremove==0.9.1
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1610471242275/work
ply==3.11
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1590412252446/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1602524994744/work
protobuf==3.13.0
ptyprocess==0.6.0
py-tools-ds @ file:///Users/runner/miniforge3/conda-bld/py-tools-ds_1608053129774/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycoast @ file:///home/conda/feedstock_root/build_artifacts/pycoast_1591651374109/work
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1602277865904/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
PyCRS==1.0.2
pyct==0.4.6
PyDrive==1.3.1
pyepsg==0.4.0
pyFFTW @ file:///Users/runner/miniforge3/conda-bld/pyfftw_1610507153650/work
pygal==2.4.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1600347314331/work
pykdtree @ file:///Users/runner/miniforge3/conda-bld/pykdtree_1605125580962/work
PyKrige @ file:///Users/runner/miniforge3/conda-bld/pykrige_1604270683005/work
pylint @ file:///Users/runner/miniforge3/conda-bld/pylint_1602598032447/work
pylovepdf==1.3.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.1
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1588596078513/work
pyrsistent @ file:///Users/runner/miniforge3/conda-bld/pyrsistent_1602259983752/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1599782465740/work
PySocks @ file:///Users/runner/miniforge3/conda-bld/pysocks_1602326916036/work
python-dateutil==2.8.1
pytz==2020.1
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1609149992420/work
PyWavelets @ file:///Users/runner/miniforge3/conda-bld/pywavelets_1602504450609/work
PyYAML==5.3.1
pyzmq==19.0.2
rasterio @ file:///Users/runner/miniforge3/conda-bld/rasterio_1591144443304/work
ratelim==0.1.6
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
retrying==1.3.3
rioxarray @ file:///home/conda/feedstock_root/build_artifacts/rioxarray_1604343353943/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1591996208734/work
Rtree==0.9.4
ruamel-yaml-conda @ file:///Users/runner/miniforge3/conda-bld/ruamel_yaml_1602430353696/work
scikit-image==0.17.2
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1605985640064/work
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy_1602862672034/work
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-base_1599592695803/work
Send2Trash==1.5.0
Shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1602548034434/work
simplejson @ file:///Users/runner/miniforge3/conda-bld/simplejson_1602514438035/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
snuggs==1.4.7
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1597680516047/work
spectral @ file:///home/conda/feedstock_root/build_artifacts/spectral_1596409260506/work
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1602599938083/work
striprtf==0.0.11
sympy @ file:///Users/runner/miniforge3/conda-bld/sympy_1590335526477/work
terminado @ file:///Users/runner/miniforge3/conda-bld/terminado_1602679604944/work
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1601589267960/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1602488900263/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1602171507552/work
traitlets==4.3.3
traittypes @ file:///home/conda/feedstock_root/build_artifacts/traittypes_1600843364635/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
uritemplate==3.0.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
voila==0.1.23
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
widgetsnbextension @ file:///Users/runner/miniforge3/conda-bld/widgetsnbextension_1603129445321/work
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1602463295881/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1606798576866/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1602852756910/work
